{% extends 'base.html' %}
{% block body %}
<br>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Visualize your Data.</h1>
        <div class="h-1 w-20 bg-green-500 rounded"></div>
      </div>

    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <a href="{{url_for('histogram_vis')}}"><img class="h-40 rounded w-full object-cover object-center mb-6"
              src="{{url_for('static',filename='vis1.png')}}" alt="content"></a>
          <h3 class="tracking-widest text-green-500 text-xs font-medium title-font">UNIVARIATE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Histograms</h2>

        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <a href="{{url_for('barplot_vis')}}"><img class="h-40 rounded w-full object-cover object-center mb-6"
              src="{{url_for('static',filename='vis2.jpg')}}" alt="content"></a>
          <h3 class="tracking-widest text-green-500 text-xs font-medium title-font">BIVARIATE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Barplots</h2>

        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <a href="{{url_for('scatterplot_vis')}}"><img class="h-40 rounded w-full object-cover object-center mb-6"
              src="{{url_for('static',filename='vis3.png')}}" alt="content"></a>
          <h3 class="tracking-widest text-green-500 text-xs font-medium title-font">BIVARIATE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Scatter Plots</h2>

        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <a href="{{url_for('pairplots_vis')}}"><img class="h-40 rounded w-full object-cover object-center mb-6"
              src="{{url_for('static',filename='vis4.png')}}" alt="content"></a>
          <h3 class="tracking-widest text-green-500 text-xs font-medium title-font">MULTIVARIATE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Pairplots</h2>

        </div>
      </div>
    </div>
  </div>
</section>





{% endblock body %}